.page {
    height: 100px;
}

.bot {
    border-radius: 10px;
    width: 150px;
  }

.nav-color  {
    background-color:  #f72210;
    opacity: 1;
  }

.trapezoid {
  border-top: 30px solid #f72210;
  border-left: 25px solid transparent;
  height: 0;
  width: 70px;
  position: absolute;
  right:0;
  top: 87px;
  z-index: 11;
}

.navbar .navbar-nav li a:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
  }

a:hover {
    cursor: pointer;
  }
